@charset "UTF-8";


.wrapper {
width: 1100px;
margin: 0 auto
}

.box-inner{
margin: 0 auto;
}

.box1 {
width: 400px;
height: 400px;
background: #ff0000;
}


/* @media screen and (max-width:960px)では960pxを下回った時に200pxへ変形する様にしている */
@media screen and (max-width:960px){
.box1 {
  width: 200px;
  height: 200px;
}
}

.box2 {
width: 300px;
height: 300px;
background: #ff0000;
}

@media screen and (max-width:960px){
.box2 {
  background: #007dff;
}
}

.bigbox3 {
  text-align: center;
}


.box3 {
width: 300px;
height: 300px;
background: #0008ff;
display: inline-block;
margin-right: 150px;
}

.box3-1 {
width: 300px;
height: 300px;
background: #22ff00;
display: inline-block;
}

@media screen and (max-width:960px){
.box3 {
  margin-right: 50px;
}
}


.bigbox4 {
  width: 600px;
  margin: 0 auto;
}


.box4 {
width: 300px;
height: 300px;
background: #ff0000;
float: left;
}

.box4-1 {
width: 300px;
height: 300px;
background: #0008ff;
float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width:960px){
.box4, .box4-1 {
  float:none;
}
}

.flex5 {
display: flex;
justify-content: center;
flex-direction: row;
}

.box5-1 {
width: 300px;
height: 300px;
background: #ff0000;
text-align: center;
position: relative;
}

.box5-1 p {
position: absolute;
top: 50%;
left: 50%;
}

.box5-2 {
width: 300px;
height: 300px;
background: #0008ff;
position: relative;
}

.box5-2 p {
position: absolute;
top: 50%;
left: 50%;
}


.box5-3 {
width: 300px;
height: 300px;
background: #ff8400;
position: relative;
}

.box5-3 p {
position: absolute;
top: 50%;
left: 50%;
}

@media screen and (max-width:960px) {
.flex5 {
  flex-direction: row-reverse;
}
}

.flex6 {
display: flex;
justify-content: center;
}

.box6-1 {
width: 300px;
height: 300px;
background: #00ff51;
position: relative;
order: 1;
}

.box6-1 p {
position: absolute;
top: 50%;
left: 50%;
}

@media screen and (max-width:960px) {
.box6-1 {
  order: 2;
}
}


.box6-2 {
width: 300px;
height: 300px;
background: #d4ff00;
position: relative;
order: 2;
}

.box6-2 p {
position: absolute;
top: 50%;
left: 50%;
}

@media screen and (max-width:960px) {
.box6-2 {
  order: 3;
}
}


.box6-3 {
width: 300px;
height: 300px;
background: #ff00e1;
position: relative;
order: 3;
}

.box6-3 p {
position: absolute;
top: 50%;
left: 50%;
}

@media screen and (max-width:960px) {
.box6-3 {
  order: 1;
}
}


.flex7 {
display: flex;
justify-content: center;
}


.box7-1 {
width: 300px;
height: 300px;
background: #ff0000;
display: block;
}

.box7-2 {
width: 300px;
height: 300px;
background:  #0008ff;
display: none;
}

.box7-3 {
width: 300px;
height: 300px;
background: #00ff51;
}

@media screen and (max-width:960px) {
.box7-1 {
  display: none;
}
}

@media screen and (max-width:960px) {
.box7-2 {
  display: block;
}
}



